div.comment {
  display: flex;
  padding: 10px;
  align-items: center;
}

div.comment img {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  margin-right: 10px;
}

div.comment p {
  width: 100%;
  border-radius: 5px;
  background-color: #dbdbdb;
  color: #333;
  padding: 0px 10px;
}
